.root {
  border-bottom: 1px solid var(--accent-2);
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.root svg {
  stroke-width: 1.75px;
}

.root:first-of-type {
  border-top: 1px solid var(--accent-2);
}

.root.clickable {
  cursor: pointer;
}

.root.clickable:hover {
  background: var(--accent-1);
}

.overlay {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
}

.content {
  white-space: pre-wrap;
  word-break: break-all;
  padding: 1rem 1.5rem 0;
}

.titleRow {
  display: flex;
  align-items: center;
}

.titleRow h1 {
  font-size: 1.2rem;
}

.avatar {
  margin-left: auto;
}

.content p {
  margin-top: 0.5rem;
  line-height: 1.4;
  max-width: 100%;
  word-break: break-word;
  white-space: pre-line;
}

.root.clickable .content p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.stats {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.stat,
.topic,
.date {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--accent-6);
  font-size: 13px;
  line-height: 1;
}

.date {
  margin-left: 0.3rem;
}

.topic {
  margin-left: auto;
}

.statIcon {
  margin-left: -8px;
  padding: 8px;
  border-radius: 100%;
  display: flex;
  margin-right: 3px;
  position: relative;
}

.root.allowActions .action {
  cursor: pointer;
}

.root.allowActions .action:hover {
  background: rgba(0, 0, 0, 0.1);
}

.action.fill {
  background: rgba(0, 0, 0, 0.05);
}

.stat + .stat {
  margin-left: 1rem;
}

.attachment {
  margin-top: 12px;
  font-size: 0.875rem;
  font-weight: 500;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  color: var(--accent-5);
  border: 1px solid var(--accent-2);
  border-radius: var(--radius);
  padding: 0 0.65rem 0 0.5rem;
  user-select: none;
  cursor: pointer;
  transition-property: color, border-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
  text-decoration: none;
}

.attachmentName {
  margin-left: 0.5rem;
}

.attachment:hover {
  color: var(--foreground);
  border-color: var(--foreground);
}
