.answerForm {
  margin-left: var(--indent);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  margin-bottom: var(--gap-large);
  padding-bottom: var(--gap-large);
}

.answerForm:not(:last-of-type) {
  padding-bottom: var(--gap-large);
  border-bottom: 1px solid var(--border);
  margin-bottom: var(--gap-large);
}

.answerFormContent {
  display: flex;
  margin-bottom: 8px;
  width: 100%;
}

.answerFormContent img {
  margin-right: 12px;
}

.answerFormContent textarea {
  margin-left: 12px;
  flex: 1;
}

.answerFormActions {
  display: flex;
  align-items: center;
  margin-left: var(--indent);
}

.answerFormActions button:first-of-type {
  margin-left: auto;
}

.answerFormActions button + button {
  margin-left: 10px;
}

.input {
  margin-left: 12px;
  outline: none;
}

.input:empty::before {
  height: 100%;
  width: 100%;
  color: rgb(55, 53, 47);
  -webkit-text-fill-color: rgba(55, 53, 47, 0.4);
  content: attr(placeholder);
  display: block;
}
