.root {
  composes: screen from global;
  padding: 4rem 0;
  background: var(--background-gradient);
}

.inner {
  composes: container from global;
}

@media screen and (max-width: 950px) {
  .root {
    padding-top: 2rem;
  }
}
