.root {
  composes: screen from global;
  padding-top: 1.5rem;
  max-width: calc(var(--page) * (4 / 5));
  margin: 0 auto;
  border-left: 1px solid var(--accent-2);
  border-right: 1px solid var(--accent-2);
  position: relative;
  display: flex;
  flex-direction: column;
}

.content.noInput {
  padding-bottom: 4rem;
}

.content.noInput > *:last-child {
  border-bottom: 1px solid var(--accent-2);
}

.answers {
  flex: 1;
  padding-bottom: 4rem;
}

.actions {
  background: var(--accent-1);
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid var(--accent-2);
  display: flex;
  align-items: center;
  min-height: 57px;
}

.ownerActions {
  margin-left: auto;
}

.inputWrapper {
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  border-top: 1px solid var(--accent-2);
  background: var(--background);
}

.empty {
  composes: container from global;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: 8rem;
}

.empty h1 {
  font-size: 1.125rem;
  font-weight: 500;
}
