.root {
  composes: screen from global;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 2.5rem 0 5rem;
  border-bottom: 1px solid var(--accent-2);
}

.headerContent {
  composes: container from global;
  display: flex;
}

.info {
  margin-left: 1.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info h1 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -0.019em;
}

.info h2 {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.019em;
  color: var(--accent-5);
}

.info h1,
.info h2 {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: calc(100vw - 176px);
  min-width: 0;
}

.main {
  flex: 1;
  height: 100%;
  background: var(--accent-1);
}

.mainContent {
  composes: container from global;
  transform: translateY(-2rem);
  display: flex;
  flex-direction: column;
}

.left {
  width: 100%;
}

.right {
  margin-top: 80px;
}

.right h2 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
}

.loadMore {
  font-weight: 700;
  font-size: 0.875rem;
  text-align: center;
  display: block;
  width: 100%;
}

.settingsContainer {
  box-shadow: var(--shadow);
  background: var(--background);
  border-radius: var(--radius);
  width: 100%;
}

.settings {
  --form-gap: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem 0;
}

.settings label:not(:first-of-type) {
  margin-top: 1.5rem;
}

.settings label > span {
  font-weight: 500;
}

.settings label > span {
  display: block;
  margin-bottom: var(--form-gap);
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1;
  color: var(--accent-6);
}

.settings label,
.settings label > * {
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 100%;
  background: var(--accent-1);
  border-top: 1px solid var(--accent-2);
  padding: 1.5rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  font-size: 0.875rem;
  line-height: 1.3;
  color: var(--accent-6);
  min-height: 54px;
}

.footer > :last-child {
  margin-top: 1rem;
}

.activities {
  margin: 1rem 0;
  list-style: none;
  font-size: 0.875rem;
}

.activities li {
  padding: 10px 0;
  animation: fadeIn 200ms ease-out forwards;
}

.activities li a {
  word-break: break-all;
}

.activities li a,
.footer a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

.activities li a:hover,
.footer a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.activities li + li {
  border-top: 1px solid var(--accent-2);
}

.activities li:last-of-type {
  border-bottom: 1px solid var(--accent-2);
}

.loadMore {
  cursor: pointer;
}

.loadMore:hover {
  text-decoration: underline;
}

.loadMore.loading {
  color: var(--accent-4);
  pointer-events: none;
  text-decoration: none;
  cursor: initial;
}

.gap {
  display: block;
  width: 1px;
  height: 1px;
  margin-top: calc(var(--form-gap) - 1px);
}

@media (min-width: 1048px) {
  .info h1 {
    font-size: 2.25rem;
  }

  .info h2 {
    font-size: 1.2rem;
  }

  .mainContent {
    flex-direction: row;
  }

  .left {
    width: 540px;
    max-width: 100%;
    margin-right: 80px;
  }

  .right {
    flex: 1;
    margin-top: 0;
  }

  .right h2 {
    text-align: left;
    font-size: 0.875rem;
  }

  .loadMore {
    text-align: left;
    display: inline-block;
    width: auto;
  }

  .footer {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0.75rem 1.5rem;
  }

  .footer > :last-child {
    margin-top: unset;
  }
}
