.topicsWrapper {
  border: 1px solid var(--accent-2);
  border-radius: var(--radius);
  margin-top: 1.5rem;
  z-index: 3;
  position: relative;
}

.topicsWrapper h2 {
  padding: 0 0.75rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 40px;
}

.topicsList {
  list-style: none;
  border-top: 1px solid var(--accent-2);
}

.topic {
  border-bottom: 1px solid var(--accent-2);
  padding: 0 0.75rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  position: relative;
  position: relative;
  z-index: 1;
  line-height: 40px;
}

.topic:not(.empty) {
  cursor: pointer;
}

.topic:hover:not(.empty) {
  background: var(--accent-1);
}

.topic a {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
}

.topicNumber {
  margin-left: auto;
  font-size: 12px;
  padding: 3px 7px;
  color: var(--fg);
  background: var(--accent-1);
  border: 1px solid var(--accent-2);
  border-radius: 16px;
  font-weight: 500;
  line-height: 1;
}

.topic:last-of-type {
  border-bottom: 0;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
