.root {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid var(--accent-2);
}

.root:last-child {
  margin-bottom: -1px;
}

.avatar {
  margin-left: auto;
}

.date {
  margin-left: 0.3rem;
}

.content {
  padding: 1.5rem 1.5rem 0;
  white-space: pre-wrap;
  word-break: break-all;
}

.content textarea {
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;
}

.stats {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.stat,
.date {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--accent-6);
  font-size: 13px;
  line-height: 1;
}

.statIcon {
  margin-left: -8px;
  padding: 7px;
  border-radius: 100%;
  display: flex;
  margin-right: 3px;
  position: relative;
}

.stat svg {
  stroke-width: 1.75px;
}

.root.allowActions .action {
  cursor: pointer;
}

.root.allowActions .action:hover {
  background: rgba(0, 0, 0, 0.1);
}

.action.fill {
  background: rgba(0, 0, 0, 0.05);
}

.actions {
  margin-left: auto;
}

.actions > * + * {
  margin-left: 0.25rem;
}

.error {
  display: flex;
  margin-top: 0.5rem;
}
